.container {
  max-width: 400px;
  margin: 30px auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

input {
  padding: 8px;
  width: 70%;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 4px;
}

.card {
  background: #f9f9f9;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  animation: fadeIn 0.5s ease-in;
}

.sprite img {
  width: 120px;
  image-rendering: pixelated;
  animation: pulo 1s infinite;
}

.erro {
  color: red;
  margin-top: 10px;
}

@keyframes pulo {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}


.sprite img {
  width: 120px;
  image-rendering: pixelated;
  animation: fade 0.5s;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
